#hokage-server
hokage-server/node_modules/
hokage-server/public/

#hokage-webapp
hokage-webapp/.DS_Store
hokage-webapp/node_modules/
hokage-webapp/dist/
hokage-webapp/npm-debug.log*
hokage-webapp/yarn-debug.log*
hokage-webapp/yarn-error.log*
hokage-webapp/config/env.js
hokage-server/config/env.js
